fsi-rosa-pageturner {
  display: block;
  position: relative;
}

.viewer {
  position: relative;
  display: inline-block;
  width: 50%;
  z-index: 450;
}

.pageturner-left {
  float: left;
}

.pageturner-right {

}

.pageturner-thumbs {
  width: 100%;
  height: 150px;
}

.pageturner-zoomview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.0;
}

.pageturner-controls {
  width: 100%;
  height: 20px;
  background-color: #ebebeb;
  /* Center items */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageturner-controls .pageturner-label {
  position: absolute;
  left: 6px;
  font-weight: bold;
  font-style: italic;
  color: #565757;
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
}

.pageturner-controls a, .pageturner-controls a:visited {
  color: #8d8d8d;
  text-decoration: none;
  padding: 6px;
}

.pageturner-controls a:hover {
  color: #565757;
}

.pageturner-controls a:active {
  color: black;
}

.pageturner-btn-zoom-close {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
