/* TODO: Take advantage of class support */
@external SidebarItem, Search, ContentHeader, LoadingDialog, ImageDescriptionHeader, SidebarSelected, ContentTitle, BookDescriptionTextData, TranscriptionUnavailableError,SidebarLastUpdated, ResultSnippet, BookDescriptionDataName, TranscriptionRubric, ImageDescriptionLabel, BookPicker-header, DataTable, BookPicker-list, Tooltip, Main, TranscriptionInitial, Header, NarrativeSectionsHeader, TranscriptionExtraHeader, ResultField, BookDescription, BookPicker, Content, GoTextBox, TranscriptionDel, BookDescriptionHeader, Home, BookDescriptionData, Transcription, NarrativeSections, TranscriptionExpan, Sidebar, Toolbar, ResultsNav, TranscriptionAdd, Bibliography, ImageDescription, SidebarHeader, TranscriptionLecoy, TranscriptionExtra, ImageViewportThumbSelection, ImageViewportThumb, CodexBrowserView-Thumb, CodexBrowserView-Toolbar, WebImage, WebImage-Loading, HeaderMenu, HeaderProjectMenu, Footer, MainContentScroll;

a:link {
  color: #000000;
  font-weight: normal;
}

a:visited {
  font-weight: normal;
}

a:hover {
  color:#B8924B;
  font-weight: normal;
}

a:active {
 color: #666666;
}

.Main {
  color: #000000;
  background-color: #c6c285;
}

.Header	{
  border-bottom: 2px solid #000000;
}

.Footer {
  background-color: #c6c285;
}

.Header img {
  float: left;
}

.HeaderMenu {
    
}

.HeaderMenu td {
  font-size: larger;
  font-weight: bold;
  padding-left: 1em;
  cursor: pointer;
}

.HeaderMenu td:active {
  background-color: #FFFFFF;
}

.HeaderMenu td:hover {
  background-color: #FFFFFF;
}

.HeaderProjectMenu {
  background-color: #FFFFFF;
  cursor: pointer;
}

.HeaderProjectMenu td:active {
  background-color: #f7f7f7;
}

.HeaderProjectMenu td:hover {
  background-color: #f7f7f7;
}

.Sidebar {
  color: #000000;
  background-color: #f7f7f7;
  padding: 5px;
  text-align: left;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  vertical-align: top;
}

.Content {
  color: #000000;
  background-color: #FFFFFF;
  vertical-align: top;
  padding: 5px;
  margin: 1em;
}

.MainContentScroll {
  margin-left: 1em;
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.Search {
  border-top: 1px solid #000000;
  margin-left: 1em;
}

.Search input {
  width: 15em;
}

.Search button {
  margin-left: 5px;
}

.GoTextBox {
  width: 15em;
}

.Toolbar * {
  float: left;
  margin: 2px;
}

.SidebarHeader {
  color: #000000;
  font-weight: bold;
  margin-top: 1em;
}

.SidebarItem {
   color: #000000;
   margin-left: 1em;
}

.SidebarLastUpdated {
   color: #000000;
   font-size: smaller;
   margin-top: 2em;
}

.SidebarSelected {
  font-weight: bold;
  color: #000000;
  background-color: #FFFFCC;
}

.ContentHeader {
  color: #000000;
  font-weight: bold;
}

.ResultField {
  color: #000000;
  font-weight: bold;
}

.ResultSnippet {
  color: #000000;
}

.ResultsNav {
  margin-left: 10%;
}

.ContentTitle {
  color: #000000;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.Home {
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  font-variant: normal;
}

.Home a {
  color: #000000;
}

.BookPicker {
   height: 33em;
}

.BookPicker-list {
   height: 30em;
   border: 1px solid black;
   margin: .5em;
   padding: .5em;
}

.BookPicker-header {
   font-weight: bold;
   margin-left: 1em;
 }

.BookDescription table {
  color: #000000;
}

.BookDescriptionData {
  margin-left: 2em;
  margin-bottom: 1em;
  border: 1px solid black;
}

.BookDescriptionTextData {
  margin-left: 2em;
  margin-bottom: 1em;
  border: 1px solid black;
}

.BookDescription td {
  padding-right: 1em;
}

.BookDescriptionDataName {
  font-weight: bold;
}

.BookDescriptionHeader {
  font-weight: bold;
}

.ImageDescription {
  color: black;
  background-color: white;
  border: 2px;
  margin: 5px;
  width: 20em;
  height: 450px;
}

.ImageDescriptionHeader {
  font-size: larger;
  font-weight: bold;
}

.ImageDescriptionLabel {
  font-weight: bold;
}

.LoadingDialog {
   color: black;
   font-weight: bold;
   width: 300px;
}

.Transcription {
  color: black;
  background-color: white;
  border: 2px;
  margin: 5px;
  width: 20em;
  height: 450px;
}

.DataTable {
  color: #000000;
  background-color: #FFFFFF;
  width: 100%;
  height: 400px;
}

.DataTable a {
  color: #000000;
}

.TranscriptionRubric {
   color: #FF0000;
}

.TranscriptionLecoy {
   color: #800080;
}

.TranscriptionExpan {
  font-style: italic;
}

.TranscriptionDel {
  text-decoration: line-through;
}

.TranscriptionAdd {
  text-decoration: underline;
}

.TranscriptionInitial {
  font-size: larger;
  font-weight: bold;
}

.TranscriptionExtraHeader {
  font-weight: bold;
}

.TranscriptionExtra {

}

a.Tooltip {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: green;
}

a.Tooltip span {
  display: none;
  z-index: 1;
}

/* position: absolute would popup, but positioning hard */
a:hover.Tooltip span {
  display: block; 
  z-index: 2;
  font-weight: normal;
  border: 1px solid #C3D9FF;
  color: #000000;
  background-color: #FFFFCC;
}

.TranscriptionUnavailableError {
  color: #FFFFFF;
  font-size: larger;
  font-weight: bold;
}

.NarrativeSections table {
  color: #FFFFFF;
}

.NarrativeSectionsHeader {
  font-size: larger;
  font-weight: bold;
}

.Bibliography table {
  color: #FFFFFF;
}

.Bibliography table td {
  height: 3em;
  vertical-align: top;
}

/* TODO: separate */

.ImageViewportThumb {
    border: 1px solid black;
}

.ImageViewportThumbSelection {
    opacity: 0.6; /* Won't work on IE */
    background-color: grey;
    border: 1px solid blue;
}

.CodexBrowserView-Thumb {
    float: left;
    margin: 5px;
}

.CodexBrowserView-Thumb:hover {

}

.CodexBrowserView-Toolbar {
    text-align: center;
}

.WebImage {

}

.WebImage-Loading {
    background-color: black;
}
