.base {
    /*background-color: #3b6280;*/
    background-color: white;
}

/* TODO: Take advantage of class support
@external SidebarItem, Search, ContentHeader, LoadingDialog, ImageDescriptionHeader, SidebarSelected, gwt-TabLayoutPanelTabs, ContentTitle, BookDescriptionTextData, TranscriptionUnavailableError,SidebarLastUpdated, ResultSnippet, BookDescriptionDataName, TranscriptionRubric, ImageDescriptionLabel, BookPicker-header, DataTable, BookPicker-list, Tooltip, Main, TranscriptionInitial, Header, NarrativeSectionsHeader, TranscriptionExtraHeader, ResultField, BookDescription, BookPicker, Content, GoTextBox, TranscriptionDel, BookDescriptionHeader, Home, BookDescriptionData, Transcription, NarrativeSections, TranscriptionExpan, Sidebar, Toolbar, ResultsNav, TranscriptionAdd, Bibliography, ImageDescription, SidebarHeader, TranscriptionLecoy, TranscriptionExtra, ImageViewportThumbSelection, ImageViewportThumb, CodexBrowserView-Thumb, CodexBrowserView-Toolbar, WebImage, WebImage-Loading;
*/
.link {
  cursor: pointer;
  text-decoration: underline;
}

.Main {
  background-color: #3b6280;
}

.Header	{
  background-color: #234774;
  border-bottom: 2px solid #000000;
}

.Header img {
  float: left;
}

.Header .Search {
  position: absolute;
  top: 0px;
  right: 0px;
}

.Sidebar {
  color: #FFFFFF;
  padding: 5px;
  text-align: left;
  background-color: #234774;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  vertical-align: top;
}

.vspace {
  margin: 1em 0em;
}

.float-left {
  float: left;
}

.Content {
  padding: 15px 25px;
  color: #FFFFFF;
  vertical-align: top;
}

.Search {
  float: left;
  margin: 1em;
}

.Search input {
  width: 15em;
}

.Search button {
  margin-left: 5px;
}

.Search .BookList {
  padding: 25px 5px;
}

.Search .BookList select {
  margin-right: 10px;
  vertical-align: top;
}

.Search .BookList button {
  margin: 0px;
}

.GoTextBox {
  width: 15em;
}

.Toolbar * {
  float: left;
  margin: 2px;
}

.SidebarHeader {
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 1em;
}

.BookPanel {
  margin: 1em 0em;
}

.SidebarItem {
   color: #FFFFFF;
   /*width: 100%;*/
   margin-left: 1em;
}

.SidebarLastUpdated {
   color: #FFFFFF;
   font-size: smaller;
   margin-top: 2em;
}

.SidebarSelected {
  font-weight: bold;
  color: #000000;
  background-color: #FFFFCC;
}

.SidebarSelected a {
  color: #000000;
}

.ContentHeader {
  color: #FFFFFF;
  font-weight: bold;
}

.ResultField {
  color: #FFFFFF;
  font-weight: bold;
}

.ResultSnippet {
  color: #FFFFFF;
}

.ResultsNav {
  margin-left: 10%;
}

.ContentTitle {
  color: #FFFFFF;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.Home {
  background-image: url(/app/home_bkgd_flowers.jpg);
  background-repeat: no-repeat;
  width: 657px;
  height: 642px;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  font-variant: normal;
  color: #000000;
}

.Home div {
  padding: 10px 20px 20px 90px;
}

.Home a {
  color: #000000;
}

.BookPicker {
   height: 33em;
}

.BookPicker-list {
   height: 30em;
   border: 1px solid black;
   margin: .5em;
   padding: .5em;
}

.BookPicker-header {
   font-weight: bold;
   margin-left: 1em;
 }

.BookDescription table {
  color: #FFFFFF;
}

.BookDescriptionData {
  margin-left: 2em;
  margin-bottom: 1em;
  border: 1px solid black;
}

.BookDescriptionTextData {
  margin-left: 2em;
  margin-bottom: 1em;
  border: 1px solid black;
}

.BookDescription td {
  padding-right: 1em;
}

.BookDescriptionDataName {
  font-weight: bold;
}

.BookDescriptionHeader {
  font-weight: bold;
}

.BookDescriptionContent {
  margin: 1em;
}

.ImageDescription {
  color: black;
  background-color: white;
  border: 2px;
  margin: 5px;
  width: 20em;
  height: 450px;
  float: right;
}

.ImageDescriptionHeader {
  font-size: larger;
  font-weight: bold;
}

.ImageDescriptionLabel {
  font-weight: bold;
}

.LoadingDialog {
   color: black;
   font-weight: bold;
   width: 300px;
}

.Transcription {
  color: black;
  background-color: white;
  border: 2px;
  margin: 5px;
  width: 20em;
  height: 450px;
  float: right;
}

.DataTable {
  color: #000000;
  background-color: #FFFFFF;
  width: 100%;
  height: 400px;
}

.DataTable a {
  color: #000000;
}

.TranscriptionRubric {
   color: #FF0000;
}

.TranscriptionLecoy {
   color: #800080;
}

.TranscriptionExpan {
  font-style: italic;
}

.TranscriptionDel {
  text-decoration: line-through;
}

.TranscriptionAdd {
  text-decoration: underline;
}

.TranscriptionInitial {
  font-size: larger;
  font-weight: bold;
}

.TranscriptionExtraHeader {
  font-weight: bold;
}

.TranscriptionExtra {

}

a.Tooltip {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: green;
}

a.Tooltip span {
  display: none;
  z-index: 1;
}

/* position: absolute would popup, but positioning hard */
a:hover.Tooltip span {
  display: block;
  z-index: 2;
  font-weight: normal;
  border: 1px solid #C3D9FF;
  color: #000000;
  background-color: #FFFFCC;
}

.TranscriptionUnavailableError {
  color: #FFFFFF;
  font-size: larger;
  font-weight: bold;
}

.NarrativeSections table {
  color: #FFFFFF;
}

.NarrativeSectionsHeader {
  font-size: larger;
  font-weight: bold;
}

.Bibliography table {
  color: #FFFFFF;
}

.Bibliography table td {
  height: 3em;
  vertical-align: top;
}

/* TODO: separate */

.ImageViewportThumb {
    border: 1px solid black;
}

.ImageViewportThumbSelection {
    opacity: 0.6; /* Won't work on IE */
    background-color: grey;
    border: 1px solid blue;
}

.CodexBrowserView-Thumb {
    float: left;
    margin: 5px;
}

.CodexBrowserView-Thumb:hover {

}

.CodexBrowserView-Toolbar {
    text-align: center;
}

.WebImage {

}

.WebImage-Loading {
    background-color: black;
}

a:link {
  color: #FFFFFF;
  font-weight: normal;
}

a:visited {
  color: #FFFFFF;
  font-weight: normal;
}

a:hover {
  color:#B8924B;
  font-weight: normal;
}

a:active {
  color: #666666;
}

.error {
  color: #FF4545;
  font-size: 18px;
  font-weight: bold;
}